
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

/*
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

*/
body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  background: #f5f8fa;
  color: #636b6f;
  font-size:14px;
  margin: 0;
  padding: 0;
}


/* header*/



#nav-header{
  background: white;
  height:50px;
  box-shadow: 10px 10px 5px #888888;
  a:link{
    color: #777;
  }
}

#logo{
  float:left;

  margin-left: 50px;
  height: 50px;
}
#logo a{
  font-size: 18px ;
  display: inline-block;
  height: 50px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;

}

a:hover,#logo a:active{
  background-color:darkgrey;
}

#nav-header-right{
  float: right;
}

#nav-header-right-menu,#nav-header-right-menu li{
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-header-right-menu li{
  float: left;

}

#nav-header-right-menu li a{
  display: block;
  padding:8px 50px;
  margin-top: 6px;
  text-decoration: none;
  a:hover,a:active
  {
    background:#cc0000;
  }

}


/*footer*/

footer{
  height:60px;
  background: #636b6f;
  width: 100%;


  .footer-container{
    height:60px;
    display:table-cell;
    vertical-align: middle;
    a{
      color:#c1c1c1;
      margin-left: 60px;
      text-decoration: none;
    }

  }

}

/*固定footer位置*/
#app-container{
  height:100%;
  margin-bottom: 60px;
}
#app-footer{
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
}

/*login register form*/
.LRForm table{
  border: 3px dashed yellow;

}
.LRForm{
  border: 3px solid black;
  display: inline-block;

}